@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap");

// Fonts
$main-family: "JetBrains Mono", monospace;

// Color
$white: #fff;
$black: #000000;
$gray: #b1b1b1;

$sponsor-dark: #2d2e37;
$accent-gray: #1b1c21;
$accent-red: rgb(255, 104, 104);
$accent-purple: #402fff;
