.accordeon-quest {
  width: 100%;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 19px;
  font-weight: 500;
  text-align: left;
  color: $white;

  background-color: $accent-gray;

  &::after {
    content: "+";
    font-weight: 600;
    font-size: 30px;
    line-height: 1em;
    color: $accent-red;
  }

  &.active::after {
    content: "-";
  }
}

.accordeon-answer {
  max-height: 0px;
  height: 500px;
  padding: 0 0 0 20px;

  overflow: hidden;

  font-size: 19px;
  font-weight: 500;
  text-align: left;
  color: $white;
  line-height: 1.4em;

  background-color: $accent-gray;

  transition: 0.7s ease;
}
