.intro {
  width: 100%;
  padding: 222px 0 0;

  background-color: $accent-gray;
}

.intro__wrapper {
  display: flex;
  justify-content: center;
}

.intro-content {
  max-width: 1060px;
  text-align: center;
}

.intro-content__text {
  font-size: 50px;
  font-weight: 700;
  color: $white;
}

.intro-message {
  width: 100%;
  height: 180px;
  margin-top: 123px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 1px solid $white;
}

.animate-text {
  display: block;
  width: 34ch;

  overflow: hidden;

  font-size: 17px;
  color: $white;
  white-space: nowrap;

  border-right: 2px solid $white;

  animation: flashBorder 0.7s step-end infinite;
  animation: printText 5s steps(34) infinite;
}

@keyframes flashBorder {
  0% {
    border-color: $white;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: $white;
  }
}

@keyframes printText {
  0% {
    width: 0;
  }
  100% {
    width: 34ch;
  }
}
