.sponsor {
  margin-top: 30px;

  display: flex;
  gap: 0 20px;
}

.sponsor-block {
  width: 320px;
  height: 125px;
  padding: 0 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $sponsor-dark;
}
